<!--Login Page Starts-->
<section id="login">
  <div class="container-fluid">
    <div class="row full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-content">
            <div class="card-body login-img">
              <div class="row m-0">
                <div class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle">
                  <img src="../../assets/img/gallery/login.png" alt="" class="img-fluid mt-5" width="400"
                    height="230" />
                </div>
                <div class="col-lg-6 col-md-12 bg-white px-4 login-div">
                  <span *ngIf="error; then other else welcome;"></span>
                  <ng-template #welcome>
                    <p class="card-text mb-3 welcome-message">{{ message }}</p>
                  </ng-template>
                  <ng-template #other>
                    <p class="card-text mb-3 other-message">{{ message }}</p>
                  </ng-template>

                  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                    <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
                      <div *ngIf="formControls.username.errors.required">Username is required</div>
                    </div>
                    <input [ngClass]="{'has-error': isSubmitted && formControls.username.errors }" type="text"
                      class="form-control mb-3" formControlName="username" placeholder="Username" />

                    <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                      <div *ngIf="formControls.password.errors.required">Password is required</div>
                    </div>
                    <input [ngClass]="{'has-error': isSubmitted && formControls.password.errors }" type="password"
                      class="form-control mb-3" formControlName="password" placeholder="Password" />

                    <div class="fg-actions d-flex justify-content-between login-button">
                      <div class="recover-pass">
                        <button type="submit" class="btn btn-primary">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          <a class="text-decoration-none text-white">Login</a>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->