<div style="position: relative;"><span class="btn btn-raised btn-sm btn-danger btn-round close-button" (click)="onNoClick()"><i class="fa fa-times"></i></span></div>
<h1 mat-dialog-title>Company Group Details</h1>
<div mat-dialog-content>
  <div class="col-sm-12">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <ul class="no-list-style">
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a> Group ID:</a></span> 
                                <span class="line-height-2 d-block overflow-hidden">ID number:</span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a> Group Company Name: </a></span>
                                <span class="line-height-2 d-block overflow-hidden">Company A</span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a> WebsiteUrl:</a></span>
                                <span class="line-height-2 d-block overflow-hidden">www.companyA.commm</span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a> Primay Contact Email: </a></span>
                                <span class="line-height-2 d-block overflow-hidden">prashant@companyA.commm</span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a> Primay Contact Phone:</a></span>
                                <span class="line-height-2 d-block overflow-hidden">+1 333-444-5555</span>
                            </li> 
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a> Max Devices Per User: </a></span>
                                <span class="line-height-2 d-block overflow-hidden">5</span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a> Failed Login Attempts to Lock: </a></span>
                                <span class="line-height-2 d-block overflow-hidden">5</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <ul class="no-list-style">
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a> Address 1: </a></span>
                                <span class="line-height-2 d-block overflow-hidden">100 Washington Avenue</span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a> Address 2: </a></span>
                                <span class="line-height-2 d-block overflow-hidden"></span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a> City: </a></span>
                                <span class="line-height-2 d-block overflow-hidden">San Francisco</span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a> State: </a></span>
                                <span class="line-height-2 d-block overflow-hidden">California</span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a> Country:</a></span>
                                <span class="line-height-2 d-block overflow-hidden">United States</span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a> Postal Code:</a></span>
                                <span class="line-height-2 d-block overflow-hidden">98989</span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a> Is Enabled:</a></span>
                                <span class="line-height-2 d-block overflow-hidden">True</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
</div>