#component_list {
    .link:hover {
        color: #0cc27e;
        cursor: pointer;
    }
    .action {
        color: #f77f18;
    }
    .action:hover {
        color: #ffb817;
        cursor: pointer;
    }
    .ele-hidden {
        display: none;
    }
    .company-filter {
        padding-left: 0px !important;
    }
}

