<div style="position: relative;"><span class="btn btn-raised btn-sm btn-danger btn-round close-button"
        (click)="onNoClick()"><i class="fa fa-times"></i></span></div>
<h1 mat-dialog-title>Add Company Group</h1>
<div mat-dialog-content>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <form [formGroup]="addCompanyGroupForm" (ngSubmit)="addCompanyGroup()">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="companyGroupName"
                                            required placeholder="Group Company Name" />
                                        <!-- <small class="form-text text-muted danger" *ngIf="required.errors?.required">required error</small> -->
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="websiteUrl"
                                            placeholder="Website URL" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="primaryContactEmail"
                                            placeholder="Primay Contact Email" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="primaryContactPhone"
                                            placeholder="Primay Contact Phone" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="maxDevicePerUserCount"
                                            required placeholder="Max Devices Per User" />
                                        <!-- <small class="form-text text-muted danger" *ngIf="required.errors?.required">required error</small> -->
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                            formControlName="failedLoginAttemptsToLockUser" required
                                            placeholder="Failed Login Attempts to Lock" />
                                        <!-- <small class="form-text text-muted danger" *ngIf="required.errors?.required">required error</small> -->
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="hqStreet1"
                                            placeholder="Address 1" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="hqStreet2"
                                            placeholder="Address 2" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="hqCity" required
                                            placeholder="City" />
                                        <!-- <small class="form-text text-muted danger" *ngIf="required.errors?.required">required error</small> -->
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="hqState" required
                                            placeholder="State" />
                                        <!-- <small class="form-text text-muted danger" *ngIf="required.errors?.required">required error</small> -->
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="hqCountry" required
                                            placeholder="Country" />
                                        <!-- <small class="form-text text-muted danger" *ngIf="required.errors?.required">required error</small> -->
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="hqPostalCode"
                                            placeholder="Postal Code" />
                                    </div>
                                    <div class="form-group">
                                        <!-- <input type="text" class="form-control" formControlName="isActive" required placeholder="Is Enabled" /> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right">
                            <button type="button" (click)="onNoClick()" class="btn btn-raised btn-warning mr-1">
                                <i class="ft-x"></i> Cancel
                            </button>
                            <button type="submit" class="btn btn-raised btn-primary">
                                <i class="fa fa-check-square-o"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
</div>