<div style="position: relative;"><span class="btn btn-raised btn-sm btn-danger btn-round close-button"
        (click)="onNoClick()"><i class="fa fa-times"></i></span></div>
<h1 mat-dialog-title>Add Company Group</h1>
<div mat-dialog-content>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <form [formGroup]="addCompanyGroupForm" (ngSubmit)="addCompanyGroup()">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="companyGroupName">Company Group Name</label>
                                        <input type="text" class="form-control" id="companyGroupName"
                                            formControlName="companyGroupName" required />
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addCompanyGroupForm.get('companyGroupName').valid">This
                                            field is required and maxlength is 100</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="websiteUrl">Website Url</label>
                                        <input type="text" class="form-control" id="websiteUrl"
                                            formControlName="websiteUrl"/>
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addCompanyGroupForm.get('websiteUrl').valid">Maxlength is 100</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="primaryContactEmail">Primay Contact Email</label>
                                        <input type="text" class="form-control" id="primaryContactEmail"
                                            formControlName="primaryContactEmail"/>
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addCompanyGroupForm.get('primaryContactEmail').valid">Maxlength is 100</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="primaryContactPhone">Primary Contact Phone</label>
                                        <input type="text" class="form-control" id="primaryContactPhone"
                                            formControlName="primaryContactPhone"/>
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addCompanyGroupForm.get('primaryContactPhone').valid">Maxlength is 20</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="maxDevicePerUserCount">Max Devices Per User</label>
                                        <input type="text" class="form-control" id="maxDevicePerUserCount"
                                            formControlName="maxDevicePerUserCount" required />
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addCompanyGroupForm.get('maxDevicePerUserCount').valid">This
                                            field is required and maxlength is 1</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="failedLoginAttemptsToLockUser">Failed Login Attempts to Lock</label>
                                        <input type="text" class="form-control" id="failedLoginAttemptsToLockUser"
                                            formControlName="failedLoginAttemptsToLockUser" required />
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addCompanyGroupForm.get('failedLoginAttemptsToLockUser').valid">This
                                            field is required and maxlength is 1</small>
                                    </div>
                                    <div class="form-group">
                                        <div class="mt-1">
                                            <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                <input type="checkbox" class="custom-control-input" id="isActive" formControlName="isActive">
                                                <label class="custom-control-label" for="isActive">Is Enabled</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="hqStreet1">Address 1</label>
                                        <input type="text" class="form-control" id="hqStreet1"
                                            formControlName="hqStreet1"/>
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addCompanyGroupForm.get('hqStreet1').valid">Maxlength is 100</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="hqStreet2">Address 2</label>
                                        <input type="text" class="form-control" id="hqStreet2"
                                            formControlName="hqStreet2"/>
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addCompanyGroupForm.get('hqStreet2').valid">Maxlength is 100</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="hqCity">City</label>
                                        <input type="text" class="form-control" id="hqCity"
                                            formControlName="hqCity" required />
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addCompanyGroupForm.get('hqCity').valid">This
                                            field is required and maxlength is 50</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="hqState">State</label>
                                        <input type="text" class="form-control" id="hqState"
                                            formControlName="hqState" required />
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addCompanyGroupForm.get('hqState').valid">This
                                            field is required and maxlength is 50</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="hqCountry">Country</label>
                                        <input type="text" class="form-control" id="hqCountry"
                                            formControlName="hqCountry" required />
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addCompanyGroupForm.get('hqCountry').valid">This
                                            field is required and maxlength is 50</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="hqPostalCode">Postal Code</label>
                                        <input type="text" class="form-control" id="hqPostalCode"
                                            formControlName="hqPostalCode"/>
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addCompanyGroupForm.get('hqPostalCode').valid">Maxlength is 20</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right">
                            <button type="button" (click)="onNoClick()" class="btn btn-raised btn-warning mr-1">
                                <i class="ft-x"></i> Cancel
                            </button>
                            <button type="submit" class="btn btn-raised btn-primary">
                                <i class="fa fa-check-square-o"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
</div>