.close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
.close-button:hover {
    background-color: red !important;
}
.has-error {
    border-color: red;
}
.help-block {
    color: red;
}