/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    font-weight: bold;
 }
 .mat-dialog-content {
    max-height: 100vh !important;
}