<div style="position: relative;"><span class="btn btn-raised btn-sm btn-danger btn-round close-button"
        (click)="onNoClick()"><i class="fa fa-times"></i></span></div>
<h1 mat-dialog-title>Add Module License</h1>
<div mat-dialog-content>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <form [formGroup]="addLicenseForm" (ngSubmit)="addModuleLicense()" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <ul class="no-list-style" style="padding: 0;">
                                        <li class="mb-2">
                                            <span class="primary text-bold-500"><a> Group ID:</a></span>
                                            <span
                                                class="line-height-2 v-value overflow-hidden">{{ group_filter }}</span>
                                        </li>
                                    </ul>
                                    <input type="hidden" class="form-control" id="companyGroupId"
                                        formControlName="companyGroupId" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <ul class="no-list-style" style="padding: 0;">
                                        <li class="mb-2">
                                            <span class="primary text-bold-500"><a> Company Group Name:</a></span>
                                            <span class="line-height-2 v-value overflow-hidden">{{ companyName }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="moduleName">Module Name<label class="ml-1 text-danger">*</label></label>
                                        <select class="form-control" id="moduleName" formControlName="moduleName">
                                            <option *ngFor="let module of module_names | keyvalue"
                                                value="{{module.key}}" [selected]="module.key == 'selectone'">
                                                {{module.value}}
                                            </option>
                                        </select>
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && ((addLicenseForm.get('moduleName').value == 'selectone') || !addLicenseForm.get('moduleName').valid)">Please
                                            select Module Name</small>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="companyLicenseCount">Company License Count<label class="ml-1 text-danger">*</label></label>
                                        <input type="text" class="form-control" id="companyLicenseCount"
                                            formControlName="companyLicenseCount" required />
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addLicenseForm.get('companyLicenseCount').valid">This
                                            field is required and maxlength is 2</small>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="locationLicenseCount">Location License Count<label class="ml-1 text-danger">*</label></label>
                                        <input type="text" class="form-control" id="locationLicenseCount"
                                            formControlName="locationLicenseCount" required />
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addLicenseForm.get('locationLicenseCount').valid">This
                                            field is required and maxlength is 2</small>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="projectLicenseCount">Project License Count<label class="ml-1 text-danger">*</label></label>
                                        <input type="text" class="form-control" id="projectLicenseCount"
                                            formControlName="projectLicenseCount" required />
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addLicenseForm.get('projectLicenseCount').valid">This
                                            field is required and maxlength is 2</small>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="custInternalLicenseMaxCount">Internal User Count<label class="ml-1 text-danger">*</label></label>
                                        <input type="text" class="form-control" id="custInternalLicenseMaxCount"
                                            formControlName="custInternalLicenseMaxCount" required />
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addLicenseForm.get('custInternalLicenseMaxCount').valid">This
                                            field is required and maxlength is 3</small>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="custExternalLicenseMaxCount">External User Count<label class="ml-1 text-danger">*</label></label>
                                        <input type="text" class="form-control" id="custExternalLicenseMaxCount"
                                            formControlName="custExternalLicenseMaxCount" required />
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addLicenseForm.get('custExternalLicenseMaxCount').valid">This
                                            field is required and maxlength is 4</small>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="licenseType">License Type<label class="ml-1 text-danger">*</label></label>
                                        <select class="form-control" id="licenseType" formControlName="licenseType">
                                            <option *ngFor="let type of license_types | keyvalue" value="{{type.key}}"
                                                [selected]="type.key == 'named'">
                                                {{type.value}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="licenseStartDate">License Start Date<label class="ml-1 text-danger">*</label></label>
                                        <ejs-datetimepicker #ejDateTimePicker formControlName="licenseStartDate"
                                            name="licenseStartDate" floatLabelType='Auto' format='dd-MM-yyyy hh:mm a'>
                                        </ejs-datetimepicker>
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addLicenseForm.get('licenseStartDate').valid">This
                                            field is required</small>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="licenseEndDate">License End Date<label class="ml-1 text-danger">*</label></label>
                                        <ejs-datetimepicker #ejDateTimePicker formControlName="licenseEndDate"
                                            name="licenseEndDate" floatLabelType='Auto' format='dd-MM-yyyy hh:mm a' [min]="addLicenseForm.get('licenseStartDate')">
                                        </ejs-datetimepicker>
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addLicenseForm.get('licenseEndDate').valid">This
                                            field is required</small>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="dtnullDate">Dtnull Date Time<label class="ml-1 text-danger">*</label></label>
                                        <ejs-datetimepicker #ejDateTimePicker formControlName="dtnullDate"
                                            name="dtnullDate" floatLabelType='Auto' format='dd-MM-yyyy hh:mm a'>
                                        </ejs-datetimepicker>
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addLicenseForm.get('dtnullDate').valid">This
                                            field is required</small>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="dtnullError">Dtnull Error<label class="ml-1 text-danger">*</label></label>
                                        <input type="text" class="form-control" id="dtnullError"
                                            formControlName="dtnullError" required />
                                        <small class="form-text text-muted danger"
                                            *ngIf="isSubmitted && !addLicenseForm.get('dtnullError').valid">This
                                            field is required and maxlength is 200</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right pb-0 mt-0">
                            <button type="button" (click)="onNoClick()" class="btn btn-raised btn-warning mr-1">
                                <i class="ft-x"></i> Cancel
                            </button>
                            <button type="submit" class="btn btn-raised btn-primary">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                <i *ngIf="!loading" class="fa fa-check-square-o"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>